<h1>Peugeot 404</h1>
<h2><%= templateData.translator.translate('Not found') %></h2>

<p>Peugeot 404... <br/><%= templateData.translator.translate('This page does not exist') %></p>
<p><img src="<%= templateData.baseUrl %>img/404.jpg"/></p>

<?php endif ?>